{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-proto-to-assign",
    "@babel/plugin-transform-strict-mode",
    "transform-flow-strip-types"
  ]
}